@import "../../../variables.scss";
.cg-button {
	&:hover {
		&:not(:disabled) {
			> svg {
				animation: wiggle 1s ease-in infinite;
			}
		}
	}
	&.danger {
		background-color: $danger;
		border: none;
		color: #fff;
	}
}
