@import "../../../variables.scss";

// TODO: move styles to the components
.receipt-cards-container {
	gap: 0 30px;
	display: grid;
	position: relative;
	&:not(.empty) {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
	.receipt-card {
		display: flex;
		font-weight: 800;
		position: relative;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		&__due {
			gap: 0px;
			display: flex;
			flex-direction: column;
			label {
				font-size: 12px;
				font-weight: 800;
				color: lighten($dark, 30%);
			}
			span {
				&:first-of-type {
					font-size: 50px;
					line-height: 40px;
					letter-spacing: -5px;
				}
			}
		}
		&__addtl {
			gap: 10px;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			.form-group {
				gap: 1px;
				display: flex;
				flex-direction: column;
				label {
					font-size: 11px;
					line-height: 11px;
					color: lighten($dark, 20%);
				}
				span {
					font-size: 14px;
					line-height: 14px;
				}
			}
		}

		.image-container {
			width: 100%;
			height: 100%;
			display: flex;
			overflow: hidden;
			min-height: 600px;
			max-height: 600px;
			border-radius: 10px;
			background-color: lighten($dark, 50%);
			box-shadow: $box-shadow_fade_dark;
			img {
				width: 100%;
				height: auto;
				object-fit: cover;
			}
		}

		.receipt-details {
			width: 90%;
			z-index: 1;
			bottom: 80px;
			height: 150px;
			display: flex;
			position: relative;
			padding: 30px 10px;
			background-color: #fff;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			transition: 0.3s ease-in-out;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
			> .header {
				gap: 10px;
				top: -20px;
				width: 90%;
				display: flex;
				box-sizing: unset;
				position: absolute;
				align-items: center;
				justify-content: space-between;
				> span,
				button {
					gap: 5px;
					display: flex;
					font-size: 15px;
					font-weight: 800;
					padding: 5px 10px;
					border-radius: 5px;
					align-items: center;
					background-color: #fff;
					color: darken($info, 10%);
					box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
					img {
						width: auto;
						height: 15px;
					}
				}
				svg {
					fill: $dark;
					height: 30px;
					padding: 5px;
					border-radius: 5px;
					background-color: #fff;
					box-shadow: $box-shadow_fade;
				}
				> span {
					min-width: 50px;
					overflow: hidden;
					padding: 2px 7px;
					white-space: nowrap;
					text-overflow: ellipsis;
					display: inline-block;
				}
				.cutoff-icon {
					width: auto;
					padding: 5px;
					height: 30px;
					border-radius: 5px;
					background-color: #fff;
					box-shadow: $box-shadow_fade;
				}
			}
			&.accepted {
				background-color: lighten($success, 40%);
				background: linear-gradient(0deg, lighten($success, 20%) 0%, lighten($success, 40%) 50%);
				.header {
					> * {
						// background-color: lighten($success, 35%);
					}
				}
				.status {
					background-color: transparent;
				}
			}
			&.denied {
				color: $dark;
				background-color: lighten($danger, 30%);
				background: linear-gradient(0deg, lighten($danger, 20%) 0%, lighten($danger, 30%) 50%);
				.header {
					> * {
						// background-color: lighten($danger, 25%);
					}
				}
				.status {
					background-color: transparent;
				}
			}
		}

		footer {
			gap: 10px;
			width: 70%;
			display: flex;
			position: absolute;
			justify-content: center;
			bottom: 50px;
			button {
				gap: 5px;
				width: 50%;
				fill: $dark;
				height: 30px;
				color: $dark;
				display: flex;
				position: relative;
				align-items: center;
				justify-content: center;
				background-color: #fff;
				transition: 0.05s ease-in-out;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
				&:hover {
					background-color: lighten($dark, 60%);
					svg {
						animation: wiggle 1s ease-in;
					}
				}
				label {
					height: 17px;
					pointer-events: none;
				}
				svg {
					height: 15px;
				}
				&.danger {
					color: #fff;
					background-color: $danger;
					svg {
						fill: darken($danger, 5%);
					}
					&:hover {
						color: #fff;
						background-color: lighten($dark, 20%);
					}
				}
				&.invalid {
					color: $dark;
					background-color: #fff;
					svg {
						fill: $danger;
					}
					&.active,
					&:hover {
						background-color: lighten($dark, 60%);
					}
				}
				&.success {
					color: $dark;
					background-color: $success;
					svg {
						fill: darken($success, 20%);
					}
					&.active,
					&:hover {
						color: #fff;
						color: darken($success, 30%);
						svg {
							fill: darken($success, 25%);
						}
						background-color: darken($success, 10%);
					}
				}
			}
		}
	}
	&.carousel {
		gap: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		.receipt-card {
			width: 50%;
			max-width: 500px;
			align-items: center;
			.cg-card {
				gap: 10px;
				top: unset;
				padding: 50px 0;
			}
			&__form-group {
				gap: 2px;
				label {
					font-size: 12px;
				}
				span {
					font-size: 15px;
				}
			}
		}
	}
	button.nav {
		top: 50%;
		height: 50px;
		padding: 10px;
		box-sizing: unset;
		position: relative;
		border-radius: 10px;
		border: 2px solid $primary;
		svg {
			width: 40px;
			height: auto;
			fill: $primary;
		}
	}
}

.receipts {
	td {
		.confirm-modal {
			[name="change-status"] {
				svg {
					height: 20px;
					fill: $dark;
				}
			}
		}
	}
}
