@import "../../../variables.scss";

.cg-card {
	width: 100%;
	background-color: #fff;
	border-radius: 7px;
	box-shadow: $box-shadow_fade;
	border-collapse: collapse;
	padding: 30px 25px;
	&.mini {
		padding: 6px 10px;
	}
	&.loading {
		// &::after {
		// 	content: "";
		// 	left: -2px;
		// 	width: 100%;
		// 	height: 50%;
		// 	bottom: -2px;
		// 	position: absolute;
		// 	background-color: black;
		// 	background: rgb(2, 0, 36);
		// 	background: linear-gradient(0deg, $bg, $bg 35%, transparent 100%);
		// }
	}
}
