@import "../../../variables.scss";

.cg-card {
	width: 100%;
	background-color: #fff;
	border-radius: 7px;
	box-shadow: $box-shadow_fade;
	border-collapse: collapse;
	padding: 30px 25px;
	&.mini {
		padding: 6px 10px;
	}
}
