@import "../../variables.scss";
.admin-layout {
	gap: 20px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	main {
		@include for-phone-only {
			margin-top: 50px;
		}
	}
	@include for-tablet-landscape-up {
		flex-direction: row;
		justify-content: center;
		margin-top: 50px;
	}
}
