@import "../../../variables.scss";

.file-upload {
	position: relative;
	width: 100%;
	min-height: 200px;
	padding: 20px;
	border: 2px dashed $dark;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	input {
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
	}
	.label {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		p {
			font-size: 12px;
		}
		img {
			width: auto;
			height: 100px;
			&.has-image {
				height: 250px;
			}
		}
	}
	&.active,
	&:hover,
	&::before,
	&:focus {
		border-style: solid;
		background-color: #00000010;
	}
}
