@import "../../../../variables.scss";

.account-container {
	width: 1000px;
	&.intercept {
		overflow: auto;
	}
	.info {
		background-color: #fff;
		padding: 20px;
		display: inline-grid;
		border-radius: 10px;
		box-shadow: $box-shadow_fade;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		.form-group {
			> span {
				color: $info;
				font-weight: bold;
			}
		}
	}
}
