@import "../../../variables.scss";

.cg-table {
	width: 100%;
	position: relative;
	border-radius: 15px;
	border-collapse: collapse;
	table {
		gap: 10px;
		display: flex;
		width: inherit;
		font-size: 12px;
		flex-direction: column;
		tr {
			padding: 10px;
			border-radius: 5px;
			align-items: center;
			background-color: #fff;
			box-shadow: $box-shadow_fade;
			grid-template-columns: 100%;
			&.border {
				border: 1px solid lighten($dark, 70%);
			}
			&.accounts {
				grid-template-columns: 20% 20% 10% 10% 10% 12.5% 12.5% 5%;
			}
			&.receipts {
				grid-template-columns: 20% 10% 10% 15% 15% 10% 10% 10%;
			}
			&.plans {
				cursor: pointer;
				grid-template-columns: 50% 30% 20%;
				&.create {
					grid-template-columns: 30% 20% 40% 10%;
					input {
						text-align: center;
					}
				}
				.actions {
					position: absolute;
					right: -30px;
					display: none;
					top: 0;
					> button {
						height: 55px;
						width: 40px;
						box-shadow: none;
						border-radius: 10px;
					}
				}
				&:hover {
					.actions {
						display: block;
					}
				}
			}
		}
		thead {
			position: relative;
			th {
				color: #a8a8a8;
				font-weight: 800;
			}
			tr {
				display: grid;
				background-color: transparent;
				box-shadow: none;
			}
		}
		tbody {
			gap: 10px;
			display: flex;
			font-size: 14px;
			flex-direction: column;
			tr {
				right: 0px;
				position: relative;
				display: grid;
				text-align: center;
				align-items: center;
				transition: 0.1s ease-in-out;
				td {
					font-weight: 600;
					color: $dark;
					text-align: center;
				}
				&:not(.loading):not(.row-failed):not(.error):hover {
					background-color: #f5f5f5;
				}
				&.row-failed {
					grid-template-columns: 20% 10% 10% 40% 20%;
					background-color: $danger-light;
					border: 1px solid lighten($danger, 23%);
					td {
						color: $danger !important;
					}
				}
			}
			.loading {
				display: flex;
				height: 500px;
				justify-content: center;
			}
			.button__action {
				position: relative;
				transition: 0.2s ease-in-out;
				bottom: 0;
				> svg {
					height: 30px;
				}
				&[name="deny"] {
					&::before {
						content: "deny";
					}
				}
				&[name="accept"] {
					&::before {
						content: "accept";
					}
				}
				&[name="add"] {
					&::before {
						content: "add";
					}
				}
				&[name="remove"] {
					&::before {
						content: "remove";
					}
				}
				&::before {
					content: "";
					display: none;
					position: absolute;
					height: 25px;
					width: auto;
					background-color: #fff;
					padding: 4px 5px;
					box-sizing: border-box;
					box-shadow: -3px 3px 0 #77777740;
					border-radius: 4px;
					left: 50%;
					transform: translateX(-50%);
					top: -30px;
					font-weight: 600;
					color: $dark;
				}
				&:hover {
					&::before {
						display: block;
					}
				}
			}
		}
	}
	&.plans {
		tbody {
			max-height: 280px;
			min-height: 280px;
			overflow: auto;
			padding: 5px;
			td {
				input {
					text-align: center;
				}
			}
		}
	}
}
