@import "../variables.scss";
.content {
	gap: 60px;
	width: 100%;
	padding: 10px;
	display: flex;
	margin: 0 auto;
	max-width: 1400px;
	flex-direction: column;
	justify-content: center;
	form {
		gap: 20px;
		display: flex;
		flex-direction: column;
		.receipt-accuracy {
			gap: 20px;
			display: flex;
			justify-content: center;
			margin-top: 20px;
			> * {
				display: flex;
				flex-direction: column;
				background-color: #fff;
				border-radius: 5px;
				> span {
					font-size: 12px;
					font-weight: 800;
					padding: 2px 5px;
					display: flex;
					align-items: center;
				}
			}
			&__success {
				border: 2px solid $success;
				> span {
					color: #fff;
					border-bottom: 2px solid $success;
					background-color: $success;
				}
				svg {
					margin: 5px;
					fill: $success;
				}
			}
			&__danger {
				border: 2px solid $danger;
				> span {
					color: #fff;
					border-bottom: 2px solid $danger;
					background-color: $danger;
				}
				svg {
					margin: 5px;
					fill: $danger;
				}
			}
		}
	}
	section:first-child {
		align-self: center;
	}
	@include for-tablet-landscape-up {
		flex-direction: row;
		&:not(.content__admin) {
			margin-top: 50px;
		}
		section:first-child {
			align-self: flex-start;
		}
	}
}
.file-error {
	text-align: center;
	font-weight: 800;
	color: $danger;
}

.qr-container {
	width: 100%;
}

.receipt-status-container {
	display: flex;
	flex-direction: column;
	> img {
		width: auto;
		height: 150px;
		margin-bottom: 20px;
	}
	> h1 {
		font-weight: 800;
		text-align: center;
	}
	> p {
		font-size: 14px;
		text-align: center;
		margin-bottom: 20px;
	}
}
