@import "../variables.scss";
.content {
	gap: 60px;
	width: 100%;
	padding: 10px;
	display: flex;
	margin: 0 auto;
	max-width: 1400px;
	flex-direction: column;
	justify-content: center;
	form {
		gap: 20px;
		display: flex;
		flex-direction: column;
	}
	section:first-child {
		align-self: center;
	}
	@include for-tablet-landscape-up {
		flex-direction: row;
		&:not(.content__admin) {
			margin-top: 50px;
		}
		section:first-child {
			align-self: flex-start;
		}
	}
}
.file-error {
	text-align: center;
	font-weight: 800;
	color: $danger;
}

.qr-container {
	width: 100%;
}

.receipt-status-container {
	display: flex;
	flex-direction: column;
	> img {
		width: auto;
		height: 150px;
		margin-bottom: 20px;
	}
	> h1 {
		font-weight: 800;
		text-align: center;
	}
	> p {
		font-size: 14px;
		text-align: center;
		margin-bottom: 20px;
	}
}
