@import "../../../../variables.scss";

.filters {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	> div:first-child {
		flex-wrap: wrap;
		> div:last-child {
			flex-wrap: wrap;
		}
	}
	.date-range {
		height: 0;
		transition: 0.3s ease;
		position: absolute;
		background-color: #fff;
		overflow: hidden;
		z-index: 1;
		top: 45px;
		border-radius: 5px;
		box-shadow: $box-shadow_fade;
		&.active {
			height: 100px;
		}
		form {
			display: inline-flex;
			flex-direction: column;
			gap: 5px;
		}
		.content-wrapper {
			padding: 10px;
			display: flex;
			flex-direction: column;
			gap: 5px;
			input {
				padding: 0 10px;
				box-shadow: unset;
				background-color: lighten($dark, 60%);
			}
		}
	}
	.skeleton {
		width: 15px;
		height: 15px;
		display: inline-block;
		border-radius: 3px;
	}
}
