@import "../../../variables.scss";

$border-radius: 7px;

.radio-toggle {
	display: flex;
	overflow: hidden;
	position: relative;
	&:after {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: "";
		position: absolute;
		pointer-events: none;
		border: 2px solid $primary;
		border-radius: $border-radius;
	}
	&__item {
		&__input {
			display: none;
			&:checked + .radio-toggle__item__label {
				fill: #fff;
				color: #fff;
				background-color: $primary;
			}
		}
		&__label {
			display: flex;
			fill: $primary;
			color: $primary;
			cursor: pointer;
			padding: 5px 10px;
			position: relative;
			align-items: center;
			justify-content: space-around;
			transition: all 0.2s ease-out;
		}
		&:not(:last-of-type) {
			label {
				border-right: 2px solid $primary;
			}
		}
		&:first-of-type {
			label {
				border-top-left-radius: $border-radius;
				border-bottom-left-radius: $border-radius;
			}
		}
		&:last-of-type {
			label {
				border-top-right-radius: $border-radius;
				border-bottom-right-radius: $border-radius;
			}
		}
	}
}
