@import "../../../variables.scss";

.history-table {
	width: 100%;
	height: 600px;
	margin-bottom: 50px;
	tbody {
		gap: 25px;
		display: flex;
		flex-direction: column;
		tr {
			display: grid;
			align-items: center;
			justify-content: center;
			grid-template-columns: 35% 10% 35% 10% 10%;
			td {
				display: flex;
				text-align: center;
				align-items: center;
				justify-content: center;
				overflow-wrap: break-word;
			}
			td:first-child {
				text-align: right;
				position: relative;
				padding-right: 40px;
				white-space: nowrap;
				justify-content: end;
				&::after {
					// top: 10px;
					top: 50%;
					right: 5px;
					content: "";
					width: 20px;
					height: 20px;
					position: absolute;
					border-radius: 50%;
					background-color: $info;
					transform: translateY(-50%);
				}
			}
			td:last-child {
				display: flex;
				align-items: center;
			}
			&:not(:last-child) {
				td:first-child {
					&::before {
						top: 22px;
						content: "";
						right: 14px;
						height: 57px;
						position: absolute;
						border: 1px dashed $dark;
					}
				}
			}
			.rate {
				font-size: 16px;
				font-weight: 800;
			}
			.date {
				font-weight: 800;
				padding: 5px 10px;
				text-align: right;
				position: relative;
				border-radius: 5px;
				background-color: #fff;
				box-shadow: $box-shadow_fade;
				&::before {
					width: 0;
					top: 10px;
					height: 0;
					content: "";
					right: -15px;
					position: absolute;
					border-left-color: #fff;
					border: 8px solid transparent;
				}
			}
			.refNo {
				align-items: center;
				display: inline-flex;
				gap: 10px;
			}
			&.failed {
				grid-template-columns: 35% 10% 55%;
				td:first-child {
					span {
						background-color: lighten($danger, 20%);
						font-weight: 800;
						color: $danger;
					}
					&::after {
						background-color: $danger;
						box-shadow: $box-shadow_fade;
					}
				}
				td:last-child {
					height: 100%;
					border-radius: 5px;
					box-shadow: $box-shadow_fade;
					background-color: lighten($danger, 20%);
					span {
						color: $danger;
						font-size: 13px;
						font-weight: 800;
					}
				}
			}

			@include for-phone-only {
				font-size: 12px;
				td {
					&:first-child {
						flex-basis: 150px;
					}
					&:nth-child(2) {
						flex-basis: 70px;
					}
					&:nth-child(3) {
						flex-basis: 150px;
						span {
							display: inline-flex;
							gap: 10px;
						}
					}
					&:nth-child(4) {
						flex-basis: 50px;
					}
					&:nth-child(5) {
						flex-basis: 50px;
					}
					&:first-child {
						padding-right: 25px;
						span {
							padding: 5px;
						}
						&::after {
							// top: 7px;
							height: 15px;
							width: 15px;
						}
					}
					&:not(:last-child) {
						&:first-child {
							&::before {
								height: 51px;
								right: 12px;
							}
						}
					}
				}
			}
		}
	}
}

.replace-button {
	border: none;
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 5px;
	font-size: 15px;
	background-color: #fff;
	color: $dark;
	fill: $dark;
	padding: 10px 15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: $box-shadow_fade;
	svg {
		height: 15px;
	}
}
