@import "../../../variables.scss";
.dropdown {
	list-style-type: none;
	position: relative;
	padding: 0;
	margin: 0;
	height: 40px;
	border: 2px solid $dark;
	border-radius: 5px;
	box-shadow: -3px 3px 0 #00000030;
	&.error {
		border-color: $danger;
		background-color: #fae0e0;
		.list-container {
			&::before {
				background-color: #fae0e0;
			}
		}
		&__search {
			color: $danger;
			::-webkit-input-placeholder {
				/* WebKit, Blink, Edge */
				color: #909;
			}
			:-moz-placeholder {
				/* Mozilla Firefox 4 to 18 */
				color: #909;
				opacity: 1;
			}
			::-moz-placeholder {
				/* Mozilla Firefox 19+ */
				color: #909;
				opacity: 1;
			}
			:-ms-input-placeholder {
				/* Internet Explorer 10-11 */
				color: #909;
			}
			::-ms-input-placeholder {
				/* Microsoft Edge */
				color: #909;
			}

			::placeholder {
				/* Most modern browsers support this now. */
				color: #909;
			}
		}
	}
	&__search {
		height: 37px;
		padding: 10px;
		font-weight: 800;
		font-size: 14px;
		color: $dark;
		width: 100%;
		border: none;
		background-color: transparent;
		&::placeholder {
			color: rgb(182, 182, 182);
		}
	}
	&__list {
		position: relative;
		overflow: auto;
		height: 100%;
		display: block;
		max-height: 200px;
		width: calc(100% + 4px);
		top: -6px;
		left: -2px;
		list-style-type: none;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		border: 2px solid $dark;
		border-radius: 5px;
		background-color: #f4ede3;
		animation: listHide 0.05s ease-in forwards;
		// transition: height 0.1s ease-in-out, padding-top 0.1s ease-in-out;
		li {
			display: flex;
			height: 40px;
			padding: 5px;
			font-weight: bold;
			font-size: 14px;
			cursor: pointer;
			align-items: center;
			.option-wrapper {
				padding: 10px 5px;
				border-radius: 5px;
				line-height: 30px;
				width: 100%;
				// transition: 0.1s;
				line-height: 14px;
			}
			&.active,
			&:hover,
			&:focus {
				.option-wrapper {
					color: #fff;
					background-color: #8b8b8b;
				}
			}
		}
		&.active {
			padding: 10px 0;
			animation: listShow 0.05s ease-in forwards;
			// height: 100% !important;
			// border-color: $dark;
			// padding-top: 10px;
			// z-index: 2;
			// box-shadow: -3px 3px 0 #00000020;
			// overflow-y: auto;
		}
	}
	.list-container {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			height: 5px;
			width: 100%;
			top: -6px;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			background-color: #f4ede3;
			z-index: 1;
		}
		&.active {
			&::before {
				z-index: 3;
			}
			&::after {
				opacity: 1;
			}
		}
		&::after {
			content: "";
			opacity: 0;
			left: 50%;
			transform: translateX(-50%);
			position: absolute;
			border-radius: 10px;
			height: 3px;
			width: 70%;
			top: -2px;
			z-index: 3;
			background-color: #6c6c6c;
			// transition: 0.2s;
		}
	}
	&::after {
		content: "";
		position: absolute;
		height: 0;
		width: 0;
		right: 15px;
		top: 17px;
		border: 5px solid transparent;
		border-top-color: $dark;
	}
	&.disabled {
		border: 2px solid #cccccc;
		background-color: #e6e6e6;
		&::after {
			border-top-color: #cccccc;
		}
		.list-container::before {
			background-color: #e6e6e6;
		}
		.dropdown__list {
			border-color: #cccccc;
		}
	}
	&.inline {
		position: absolute;
		top: 0;
	}
}

@keyframes listShow {
	0% {
		display: none;
		max-height: 0;
		z-index: 0;
	}
	100% {
		display: block;
		max-height: 200px;
		z-index: 2;
	}
}

@keyframes listHide {
	0% {
		display: block;
		max-height: 200px;
		z-index: 0;
	}
	100% {
		display: none;
		max-height: 0;
		z-index: 0;
	}
}
